/* font import */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@800&family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black !important;
  font-family: "Big Shoulders Stencil Text", cursive !important;
}
.btn {
  font-weight: 600 !important;
}
.btn:hover {
  cursor: pointer;
  color: #222 !important;
}
.modal-btn{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px !important;
  text-transform: capitalize;
}
.modal-body a {
  font-size: 22px;
}
video {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  vertical-align: bottom;
  border: 8px solid #0275d8;
  border-radius: 4px;
}
canvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 8px solid #222;
  border-radius: 4px;
  margin-top: 8px;
}
.brand {
  letter-spacing: 0.4rem;
  font-weight: 800;
  transition: all .6s ease-in-out;
  display: inline-block;
}
.brand:hover{
  letter-spacing: 0.5rem;
cursor: pointer;
color: #222;
}
.video-grid {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.screen-shoot-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.video-grid:hover video {
  transform: scale(1.03);
}
.my-navbar {
  background-color: rgb(41, 3, 3);
  color: white;
  height: 85px;
  padding: 20px;
  position: relative;
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
label {
  color: white;
  font-size: 27px;
  letter-spacing: 0.5rem;
  font-weight: 800;
}
/* filters */
.none {
  -webkit-filter: none;
  filter: none;
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
